body {
 margin:0 0 0 1ch;
 background:#000;
 color:#ccc;
 font-family: monospace;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

a         {text-decoration: none}
a:link    {color: #bbf}
a:visited {color: #aaa}
a:hover   {color: #0ff}

h1, hr, p { margin:0 }

h1 {
 font-family:sans-serif;
 font-size:inherit;
 white-space:nowrap;
}

.mustshift { margin-left:1ch }
.mustshift:hover { background:red }

.headerNav {
 text-align:right;
 font-family:sans-serif;
 font-size:x-small;
}

.headerNav > div { display:inline-block }

.headerNav > a {
  margin-left:1ch;
  white-space:nowrap;
}

.songList > p:hover {
  background:#808
}

.window {
  display:inline-block;
  margin:0;
}

.window > div:nth-child(1) {
  display:inline-block;
  position:relative;
  margin-left: -1ch;
  padding-left:.5ch;
  padding-right:.5ch;
  background-color:#111;
  border:solid 1px #444;
  border-radius:1ch;
  vertical-align:bottom;
}

.window > div:nth-child(2) {
  display:inline-block;
  position:relative;
}

.window > div:nth-child(3) {
  border: solid 1px #444;
  border-radius:1ch;
  margin-top:-1px;
}

.windowmini {
  display:inline-block;
  vertical-align:top;
  margin-top:.5ch;
  margin-left:.5ch;
}

.windowmini > div:nth-child(1) {
  display:inline-block;
  border-top:dashed 1px #444;
  border-right:dashed 1px #444;
  border-left:dashed 1px #444;
}

.windowmini > div:nth-child(2) {
  display:inline-block;
}

.windowmini > div:nth-child(3) {
  margin-top:1px;
  border: dashed 1px #444;
}

.actor {
  background-color:#066;
  border: solid 1px #0000;
  margin: 1px;
}

.actor:hover {
  border:solid 1px #0ff
}


.knobs > p {
  display:inline-block;
  background:#066;
}


#addphrase {
  display:inline-block;
  border:0;
}

/*
#addphrase > div > input {
  font-size:inherit
}

.phrases {
  display:inline-block;
  min-width: 1em;
  min-height: 1em;
  padding:0;
}

.phrases > div { margin:1ch; }
.phrases > div > p { display:inline-block; background:#880 }
.phrases > div > div { display:inline-block ; margin-left:1ch; }
.phrases > div > div:last-child { display:block; border:solid 1px #880 }

.phrases .partlist > b {
  font-weight:normal;
  display:inline-block;
  text-align:center;
  width:2em;
  margin-right:.5em;
  background:gray
}

.part { border:none; padding:0; margin:0 }
.part > div { display:inline-block; vertical-align:top; }
.part > b { display:inline-block; width:2em; vertical-align:top; text-align:center; background:#888 }
.part > .beat      { border:0px; padding:0px; margin:1px; height:2.0em; width:2.1em; background:#222; color:#999 }
.part > .beatfirst { background:#333 }
.part > .beat:hover { border: solid 1px #a0a; margin:0px }
.part > .beat > .tick { border:0; padding:0; margin:0; height:1em; width:1em; display:flex; justify-content:center; align-items:center; }
.part > .beat .tick:nth-child(1) { float:left; }
.part > .beat .tick:nth-child(2) { float:left; clear:both; }
.part > .beat .tick:nth-child(1):hover { background-color:yellow}
.part > .beat .tick:nth-child(2):hover { background-color:yellow}
.part > .beat .tick:nth-child(3):hover { background-color:yellow}
.part > .beat .tick:nth-child(4):hover { background-color:yellow}
*/

.piano {
 text-align:center; 
 color: black;
 margin:1ch;
 white-space:nowrap;
}

.piano > div {
 display:inline-block;
 padding:2em 0 0 0;
 border-left:solid 1px black;
 border-right:solid 1px black;
 margin:0;
 width:1.2em;
 height:1.1em;
 background-color:white;
}

.piano > p {
 display:inline-block;
 position:absolute;
 padding:0;
 border:0;
 margin-left:-0.5em;
 width:1.0em;
 height:1.6em;
 background-color:#222;
}

.piano > div:hover,
.piano > p:hover   {
  background-color: #e0e
}


.name  { display:inline-block; padding:0; margin:0; border: solid 1px black; vertical-align:top; height:1em;}
.name:hover { border: solid 1px #a0a }

.volume  { display:inline-block; padding:0; margin:0; border: solid 1px black; vertical-align:top; text-align:center}
.volume:hover { border: solid 1px #a0a }
.volume > p { display: none }
.volume:hover > p { display: inline-block; }


.phrase { height:40ch; overflow:scroll; width:calc(100vw - 2ch); white-space:nowrap; position:relative; }
.phrase > div { background-color:#112; height:1000%; display:inline-block; }
.phrase > div > p { background-color:#333; position:sticky; top:0; z-index:2; }
.phrase > div > div { position: absolute;; }
.phrase > div:hover     { background-color:blue; }
.phrase > div > p:hover { background-color:cyan; }
.phrase > div:hover > div:nth-child(2) > div:nth-child(1) { background-color:blue; }


/* Header of ticks */
.partpiano > div:nth-child(1) > p { display:inline-block; background-color:#444b; }

/* Label natural */
.partpiano > div:nth-child(2) > div.nat > p { color:black; background-color:white; width:4ch; right:calc(100%); text-align:right; position:absolute; }
/* Label sharp */
.partpiano > div:nth-child(2) > div.shp > p { background-color:black; width:2.0ch; right:calc(100% + 2.0ch); position:absolute; z-index:1; }

/* Rows of [label [ticks]] */
.partpiano > div:nth-child(2) > div > p,
.partpiano > div:nth-child(2) > div > div,
.partpiano > div:nth-child(2) > div > div > p { height:1em; }

.partpiano > div:nth-child(2) > div.drumkit > p,
.partpiano > div:nth-child(2) > div.drumkit > div,
.partpiano > div:nth-child(2) > div.drumkit > div > p { height:1pc; }

/* Natural labels */
.partpiano > div:nth-child(2) > div.nat > p { height:1.66em; }
/* Labels */
.partpiano > div:nth-child(2) > div.B.nat > p { margin-top: .06em; }
.partpiano > div:nth-child(2) > div.A.nat > p { margin-top:-.23em; }
.partpiano > div:nth-child(2) > div.G.nat > p { margin-top:-.51em; }
.partpiano > div:nth-child(2) > div.F.nat > p { margin-top:-.79em; }
.partpiano > div:nth-child(2) > div.E.nat > p { margin-top:-.08em; }
.partpiano > div:nth-child(2) > div.D.nat > p { margin-top:-.37em; }
.partpiano > div:nth-child(2) > div.C.nat > p { margin-top:-.66em; }

.partpiano > div:nth-child(2) > div.A.shp > p { margin-top: .15em; }
.partpiano > div:nth-child(2) > div.F.shp > p { margin-top:-.15em; }

.partpiano > div:nth-child(2) > div.D.shp > p { margin-top: .15em; }
.partpiano > div:nth-child(2) > div.C.shp > p { margin-top:-.15em; }

/* ex ch PC EM /*

/* drumk kit beat label */
.partpiano > div:nth-child(2) > div.drumkit > p { color:#770; background-color:#220; position:absolute; right:calc(100%); }

/* tick */
.partpiano > div:nth-child(2) > div > div > p { display:inline-block; }

/* any row of ticks */
.partpiano > div:nth-child(2) > div > div { background:#222B; }

/* row of sharp ticks */
.partpiano > div:nth-child(2) > div.shp > div { background:#1b1b1bBB; }


/* Highlight label and [ticks] when hovering anywhere on full row */
.partpiano > div:nth-child(2) > div:hover > div,
.partpiano > div:nth-child(2) > div:hover > p { background-color:blue; }
/* Highligh any tick */
.partpiano > div:nth-child(2) > div > div > p:hover { background:cyan; }
