/******************************************************************************
  General
******************************************************************************/
html {
 /* cursor:url(cursor.cur), pointer; */
}
body {
 margin:0 0 0 1ch;
 background:#000;
 color:#ccc;
 font-family: monospace;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

a         {text-decoration: none}
a:link    {color: #bbf}
a:visited {color: #aaa}
a:hover   {color: #0ff}

h1, hr, p { margin:0 }

h1 {
 font-family:sans-serif;
 font-size:inherit;
 white-space:nowrap;
}

.headerNav {
 text-align:right;
 font-family:sans-serif;
 font-size:x-small;
}

.headerNav > div { display:inline-block }

.headerNav > a {
  margin-left:1ch;
  white-space:nowrap;
}


/******************************************************************************
  Common 
******************************************************************************/
.mustshift:hover { background:red }

.knobs p {
  display:inline-block;
  background:#066;
}

.knobs > div { display:inline-block; }

.knobspresets {
  position:absolute;
  z-index:3;
  margin:1px 0 0 -1px;
  padding:0;
  border:solid 1px #0ff;
}

.knobspresets > p {
  display:block;
  background-color:#077;
}
.knobspresets > p:hover { background-color:#099 }

.actor {
  background-color:#066;
  border: solid 1px #0000;
  margin: 1px;
}
.actor:hover { border:solid 1px #0ff }


.hit { border:solid 1px black; background-color:blue; }
.hit:hover { background-color:blue; }


.volume  { display:inline-block; padding:0; margin:0; border: solid 1px black; vertical-align:top; text-align:center}
.volume:hover { border: solid 1px #a0a }
.volume > p { display: none }
.volume:hover > p { display: inline-block; }


/******************************************************************************
 Song List Menu
******************************************************************************/
.songList > p:hover {
  background:#808
}


/******************************************************************************
  Window 
******************************************************************************/
.window {
  display:inline-block;
  margin:0;
}

.window > div:nth-child(1) {
  display:inline-block;
  position:relative;
  margin-left: -1ch;
  padding-left:.5ch;
  padding-right:.5ch;
  background-color:#111;
  border:solid 1px #444;
  border-radius:1ch;
  vertical-align:bottom;
}

.window > div:nth-child(2) {
  display:inline-block;
  position:relative;
}

.window > div:nth-child(3) {
  border: solid 1px #444;
  /*border-radius:1ch;*/
  margin-top:-1px;
  position:relative;
}


/******************************************************************************
 Window Mini
******************************************************************************/
.windowmini {
  display:inline-block;
  vertical-align:top;
  margin-top:.5ch;
  margin-left:.5ch;
}

.windowmini > div:nth-child(1) {
  display:inline-block;
  border-top:dashed 1px #444;
  border-right:dashed 1px #444;
  border-left:dashed 1px #444;
}

.windowmini > div:nth-child(2) {
  display:inline-block;
}

.windowmini > div:nth-child(3) {
  margin-top:1px;
  border: dashed 1px #444;
}


/******************************************************************************
  Piano horizontal
******************************************************************************/
.piano {
 text-align:center; 
 color: black;
 margin:1ch;
 white-space:nowrap;
}

.piano > div {
 display:inline-block;
 padding:2em 0 0 0;
 border-left:solid 1px black;
 border-right:solid 1px black;
 margin:0;
 width:1.2em;
 height:1.1em;
 background-color:white;
}

.piano > p {
 display:inline-block;
 position:absolute;
 padding:0;
 border:0;
 margin-left:-0.5em;
 width:1.0em;
 height:1.6em;
 background-color:#222;
}

.piano > div:hover,
 .piano > p:hover   {
  background-color: #00f
}


/******************************************************************************
  Phrase
******************************************************************************/

.sheet { height:50ch; overflow:scroll; width:calc(100vw - 2ch); white-space:nowrap; position:relative; }
.sheet > div {
  background-color:#112;
  height:1000%;
  display:inline-block;
  width:1ch;
  border:0;
 }
.sheet > div > p { border:0; background-color:#22F; position:sticky; top:0; z-index:2; }
.sheet > div > div { position: absolute;; }

.sheet > div.phrasehighlight { background-color:blueviolet; }

.sheet > div:hover     { background-color:blue; }
.sheet > div > p:hover { border-color:cyan; }


/******************************************************************************
  PartSynth,  piano and drummit variants
******************************************************************************/

/* Header of ticks */
.part > div:nth-child(1) {
  color:#8ff;
  background-color:#5558;
  height:100%;
  min-height:1em;
  position:absolute;
  width: 0;
  display: flex;
}

.part > div:nth-child(1) > p {
  border:0;
  height:100%;
  display:inline-block;
  flex: auto;
}

/* beat vertical line */
.part > div:nth-child(1) > p.d1 {
  border-left:solid 1px #555;
  margin-left: -1px;
}

.part > div:nth-child(1) > p:hover { background-color:#0ff; }

/* Zoomable subnotes
*/

.part:not(.d2) p.d2 { display:none; }
.part:not(.d3) p.d3 { display:none; }
.part:not(.d4) p.d4 { display:none; }
.part:not(.d5) p.d5 { display:none; }
.part:not(.d6) p.d6 { display:none; }
.part:not(.d7) p.d7 { display:none; }
.part:not(.d8) p.d8 { display:none; }
.part:not(.d9) p.d9 { display:none; }


.part > div:nth-child(2) { background-color:#0008; margin-top:1em; position:relative; }

/* Row and each descendants [label [ticks]] */

.part > div:nth-child(2) > div > p,
 .part > div:nth-child(2) > div > div,
  .part > div:nth-child(2) > div > div > p { height:1em; }

.part > div:nth-child(2) > div > div { display:flex; }
.part > div:nth-child(2) > div > div > p { flex:auto; }

/* Tick */
.part > div:nth-child(2) > div > div > p { height:1em; border:0; display:inline-block; width:1ch}
/*.part > div:nth-child(2) > div > div > p:nth-child(4n+1) { border-left:solid 1px #333; } */

/* Label natural keys */
.part > div:nth-child(2) > div.nat > p {
  color:black;
  text-align:right;
  background-color:darkgrey;
  height:1.66em;
  width:4ch;
  right:calc(100%);
  position:absolute;
}

/* Label specific natural key */
.part > div:nth-child(2) > div.B.nat > p { margin-top: .06em; }
.part > div:nth-child(2) > div.A.nat > p { margin-top:-.23em; }
.part > div:nth-child(2) > div.G.nat > p { margin-top:-.51em; }
.part > div:nth-child(2) > div.F.nat > p { margin-top:-.79em; }
.part > div:nth-child(2) > div.E.nat > p { margin-top:-.08em; }
.part > div:nth-child(2) > div.D.nat > p { margin-top:-.37em; }
.part > div:nth-child(2) > div.C.nat > p { margin-top:-.66em; }

/* Label sharp keys */
.part > div:nth-child(2) > div.shp > p {
  background-color:black;
  width:2.0ch;
  right:calc(100% + 2.0ch);
  position:absolute;
  z-index:1;
}

/* Label specific sharp key */
.part > div:nth-child(2) > div.A.shp > p { margin-top: .15em; }
.part > div:nth-child(2) > div.F.shp > p { margin-top:-.15em; }
.part > div:nth-child(2) > div.D.shp > p { margin-top: .15em; }
.part > div:nth-child(2) > div.C.shp > p { margin-top:-.15em; }

/* Container of natural ticks */
.part > div:nth-child(2) > div.nat > div { background:#3332; }

/* Drumkit */

/* Label beat name */
.part > div:nth-child(2) > div.drumkit > p { color:#770; background-color:#220; position:absolute; right:calc(100%); }

/* Hover Highlights */

/* Label and container of ticks */
.part > div:nth-child(2) > div:hover > p,
 .part > div:nth-child(2) > div:hover > div { color:yellow; background-color:blue; }

/* Tick */
.part > div:nth-child(2) > div > div > p:hover { background:darkcyan; }


/*
 Units: ex ch pc em
 Selectors: .nth-child(4n+1)
/*
