html {
}

body {
  margin:4px;
  background:#000;
  color:#b93;
  font-family: fixedsys, monospace;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a         {text-decoration: none}
a:link    {color: #bbf}
a:visited {color: #aaa}
a:hover   {color: #0ff}

p   { margin:0 }
hr  { margin:0 }

h1 {
 margin:0;
 font-family:sans-serif;
 font-size:larger;
 letter-spacing: .25em;
}

.mainNav {
 text-align:right;
 font-family: sans-serif, arial, helvetica;
 font-size:x-small;
}

.mainNav a { margin-left: 1em }

.rythm { border:solid thin #0ff ; display:inline-block;}

.track { border:0; padding:0; margin:0 }

.beat  { border:thin solid black; padding:0; margin:0; height:2.1em; width:2.1em; text-align:center; display:inline-block; color:#999; vertical-align:top}
.beat:hover { border: solid thin #a0a }

.tick { border:0; padding:0; margin:0; height:1em; width:1em; display:inline-block; }

.beat .tick:nth-child(1):hover { background-color:yellow}
.beat .tick:nth-child(2):hover { background-color:yellow}
.beat .tick:nth-child(3):hover { background-color:yellow}
.beat .tick:nth-child(4):hover { background-color:yellow}
.name  { display:inline-block; padding:0; margin:0; border: solid thin black; vertical-align:top; height:2em;}
.name:hover { border: solid thin #a0a }

#piano {
 font-family: "Times New Roman", Times, serif;
 color: black;
 display:inline-block;
 text-align:center; 
}

#piano > div {
 position:relative;
 display:table-cell;
 width:1.5em;
}

#piano > div > div {
 background-color:white;
 width:1.5em;
 height:1em;
 padding:2em 0 0 0;
 border:solid thin black;
 margin:0;
}

#piano > div > p {
 background-color:#222;
 position:absolute;
 left:1.1em;
 top:0;
 z-index:1;
 width:1.0em;
 height:1em;
 padding:.6em 0 0 0;
 border:0;
 margin:0;
}

#piano > div > div:hover { background-color: #aaa }
#piano > div > p:hover { background-color: #aaa }
