body {
 margin:0;
 background:#000;
 color:#ccc;
 font-family: monospace;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

a         {text-decoration: none}
a:link    {color: #bbf}
a:visited {color: #aaa}
a:hover   {color: #0ff}

h1, hr, p { margin:0 }

h1 {
 font-family:sans-serif;
 font-size:inherit;
 white-space:nowrap;
}

.mustshift { margin-left:1ch; background:#066 }
.mustshift:hover { background:red }

.headerNav {
 text-align:right;
 font-family:sans-serif;
 font-size:x-small;
}

.headerNav > a {
  margin-left:1ch;
  white-space:nowrap;
}


.window {
  display:inline-block;
  margin:.25ch;
  vertical-align:top;
}

.window > div:nth-child(1) {
  float:left;
  padding-left:.5ch;
  padding-right:.5ch;
  border:solid 1px #444;
}

.window > div:nth-child(2) {
  overflow:hidden;
  border-bottom:solid 1px #444
}

.window > div:nth-child(3) {
  display:block;
  position:relative;
  margin-left:1ch;
  margin-top:0px;
  border: solid 1px #444;
  border-top: solid 1px black
}


.knobs > p {
  display:inline-block;
  background:#066;
  border:solid 1px black
}

.knobs > p:hover {
  border:solid 1px #f0f
}


.piano {
 text-align:center; 
 color: black;
}

.piano > div {
 display:inline-block;
 padding:2em 0 0 0;
 border-left:solid 1px black;
 border-right:solid 1px black;
 margin:0;
 width:1.2em;
 height:1.1em;
 background-color:white;
}

.piano > p {
 display:inline-block;
 position:absolute;
 padding:0;
 border:0;
 margin-left:-0.5em;
 width:1.0em;
 height:1.6em;
 background-color:#222;
}

.piano > div:hover,
.piano > p:hover   {
  background-color: #088
}


.windowphrase {
  display:inline-block;
  vertical-align:top;
}

.windowphrase > div:nth-child(1) {
  float:left;
  border:solid 1px #880;
  border-bottom:solid 1px black
}

.windowphrase > div:nth-child(2) {
  overflow:hidden;
}

.windowphrase > div:nth-child(3) {
  margin-top:1px;
  border: solid 1px #880;
}


.windowphrasealias {
  display:inline-block;
  vertical-align:top;
}

.windowphrasealias > div:nth-child(1) {
  float:left;
  border:dashed 1px #888;
  border-bottom:solid 1px black
}

.windowphrasealias > div:nth-child(2) {
  overflow:hidden;
}

.windowphrasealias > div:nth-child(3) {
  margin-top:1px;
  border: dashed 1px #888;
}



.addphrase {
  display:inline-block;
  border:0;
}

.addphrase p { background:#066; display:inline; border: solid 1px black }
.addphrase p:hover { border:solid 1px #f0f }
  
.addphrase span { background:#066; border: solid 1px black }
.addphrase span:hover { border:solid 1px #f0f }


.phrases > div { margin:1ch; }
.phrases > div > p:nth-child(1) { display:inline-block; background:#880 }
.phrases > div > div:nth-child(2) { display:inline-block ; padding-left:1ch; }
.phrases > div > div:nth-child(3) { border:solid 1px #880 }

.phrases {
  display:inline-block;
  min-width: 1em;
  min-height: 1em;
  padding:0;
}

.partlist > b {
  font-weight:normal;
  display:inline-block;
  text-align:center;
  width:2em;
  margin-right:.5em;
  background:gray
}


.part { border:none; padding:0; margin:0 }
.part > .trackid { display:inline-block; width:2em; vertical-align:top; text-align:center; background:#888 }

.beat  { border:0; padding:0; margin:1px; height:2.0em; width:2.1em; display:inline-block; color:#999; }
.beat:hover { border: solid 1px #a0a; margin:0 }

.tick { border:0; padding:0; margin:0; height:1em; width:1em; display:flex; justify-content:center; align-items:center; }

.beat .tick:nth-child(1) { float:left; }
.beat .tick:nth-child(2) { float:left; clear:both; }

.beat .tick:nth-child(1):hover { background-color:yellow}
.beat .tick:nth-child(2):hover { background-color:yellow}
.beat .tick:nth-child(3):hover { background-color:yellow}
.beat .tick:nth-child(4):hover { background-color:yellow}

.name  { display:inline-block; padding:0; margin:0; border: solid 1px black; vertical-align:top; height:2em;}
.name:hover { border: solid 1px #a0a }
.menu  { display:inline-block; padding:0; margin:0; border: solid 1px black; vertical-align:top; height:2em;}
.menu:hover { border: solid 1px #a0a }
