/* Alien Style.  the first two are swapped to implement dual state animation.  */
.i { background: black; }
.o { background: #b93; }
.x { background: #b93; }
._ { background: black; }
table {
   display:inline-block;
   border-collapse:collapse;
}

td {
  height: 1px; width: 2px;
}

html {
}

body {
  margin:4px;
  background:#000;
  color:#b93;
  font-family: fixedsys, monospace;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a         {text-decoration: none}
a:link    {color: #bbf}
a:visited {color: #aaa}
a:hover   {color: #0ff}

p   { margin:0 }
hr  { margin:0 }

h1 {
 margin:0;
 font-family:sans-serif;
 font-size:larger;
 letter-spacing: .25em;
}

.mainNav {
 text-align:right;
 font-family: sans-serif, arial, helvetica;
 font-size:x-small;
}

.mainNav a { margin-left: 1em }

.rythm { border:solid thin #0ff ; display:inline-block;}

.track { border:0; padding:0; margin:0 }

.beat  { border:thin solid black; padding:0; margin:0; height:2.1em; width:2.1em; text-align:center; display:inline-block; color:#aaa; vertical-align:top}
.beat:hover { border: solid thin #a0a }

.tick { border:0; padding:0; margin:0; height:1em; width:1em; display:inline-block; }

.beat .tick:nth-child(1) { }
.beat .tick:nth-child(2) { }
.beat .tick:nth-child(3) { }
.beat .tick:nth-child(4) { }
.name  { display:inline-block; padding:0; margin:0; border: solid thin black; vertical-align:top; height:2em;}
.name:hover { border: solid thin #a0a }



/*******************************************************************************
   Score
*******************************************************************************/
#score {
  display:inline-block;
  padding:0;
  border:0;
  margin:0;
  letter-spacing:0.5em;
  color:#0a0;
  width:11ch;
}

#score2 {
  display:inline-block;
  padding:0;
  border:0;
  margin:0;
  text-align: right;
  letter-spacing:0.5em;
  color:#aa0;
  width:11ch;
}


/*******************************************************************************
   Sky
*******************************************************************************/
#areaSky {
  width: 28em;
  position: relative;
  height: 12em;
}


/*******************************************************************************
   Alien
*******************************************************************************/
p.alienGlyph {
 display:inline-block;
 text-align: center;
 text-indent: 0;
 padding:0;
 border:0;
 margin:0 1.0em 1.0em 0;
 width:1em;
 height:1em;
}

.alienGlyph p {
 display:inline;
 position:absolute;
 border:0;
 margin:0;
 padding:0;
}

.alienGlyph table {
 border:0;
 margin:0;
 padding:0;
}


/*******************************************************************************
   Shields
*******************************************************************************/
#areaShields {
  width: 17em;
  color: #a40;
  text-align:center;
}

#areaShields p {
 padding:0;
 border:0;
 margin:0 1em 0 1em;
 display:inline-block;
 width:1em;
}


/*******************************************************************************
   Turret
*******************************************************************************/
#areaTurret {
  position: relative; /* This must be relative for the child absolutes to function correctly */
  width: 17em;
  margin:0;
  border-bottom: 1ex solid #ac4;
  padding:0;
}

 /* static(=initial)  relative(normal position)  absolute(ancestor)  fixed(window) */
#missile {
  position: absolute;
  display:inline-block;
  color: white;
  margin: 0;
  border: 0;
  padding: 0;
  width:1em;
  text-align:center;
}

#turret {
  position:absolute;
  display:inline-block;
  color: #0a0;
  padding: 0;
  border: 0;
  margin: 0;
  text-align:center;
  width:3em;
}
